.kernelLog {
	@apply pointer-events-none absolute top-0 right-0 z-50 max-h-[256px] w-full max-w-[24rem] overflow-auto bg-black/50 p-3 font-mono text-xs text-white;

	& p {
		@apply m-0 select-text whitespace-pre-wrap;

		& .time {
			@apply font-bold text-amber-400;
		}
	}
}
