.window {
	@apply flex flex-1;

	& .sidebar {
		@apply flex w-48 flex-col bg-slate-200;
	}

	& .main {
		@apply flex flex-1 flex-col overflow-auto;

		& .topbar {
			@apply break-words bg-slate-100 py-2 px-4;
		}

		& .folder {
			@apply flex flex-1 flex-col;

			& button {
				@apply flex items-center gap-2 border-b border-black/20 px-4 py-2 last:border-b-0 hover:bg-slate-200;
			}
		}

		& .actionbar {
			@apply flex items-center gap-2 bg-slate-100 p-4;

			& input {
				@apply border border-slate-400;
			}

			& button {
				@apply flex items-center gap-2 rounded-md border border-slate-400 bg-slate-200 px-4 py-2 transition-colors hover:bg-slate-50;

				& svg {
					@apply h-6 w-6;
				}
			}
		}
	}
}
