.window {
	@apply flex h-full;

	& .sidebar {
		@apply flex w-64 flex-none flex-col border-r border-black/20 bg-slate-200;

		& button {
			@apply flex text-left transition-all hover:bg-slate-50;

			& span {
				@apply flex items-center gap-2 px-4 py-2;

				& svg {
					@apply h-5 w-5;
				}

				&.current {
					@apply font-bold;
				}
			}
		}
	}

	& .keys {
		@apply flex flex-1 flex-col;

		& p {
			@apply flex flex-wrap gap-2 border-b border-black/20 px-4 py-2 last:border-b-0;

			& span {
				@apply break-all;
			}

			& .key {
				@apply font-bold;
			}

			& .type {
				@apply italic;
			}
		}
	}
}
