.sidebar {
	@apply flex h-full w-64 flex-none flex-col border-r border-black/20 bg-slate-200;

	& > button {
		@apply flex items-center gap-4 px-4 py-2 transition-all hover:bg-slate-50;

		& > svg {
			@apply h-6 w-6;
		}

		&.active {
			@apply font-bold;
		}
	}

	& > button.titleButton {
		@apply p-4 text-xl font-semibold;
	}
}
