.window {
	@apply animate-windowOpen flex-col border border-slate-400 bg-white shadow-lg;

	& .titlebar {
		@apply flex items-center justify-between gap-4 border-b border-black/20 bg-slate-200;

		& span {
			@apply flex-none py-2 px-4 font-bold;
		}

		& .titlebuttons {
			@apply flex-none;
		}

		& .titlebuttons > button {
			@apply px-5 py-3 transition-all duration-100 hover:bg-slate-50;

			& > svg {
				@apply h-4 w-4;
			}

			&.close {
				@apply hover:bg-red-500 hover:text-white;
			}
		}
	}

	&.maximized {
		@apply z-[5] rounded-none border-none transition-[width,height,top,left] duration-200 ease-out;
	}

	& .content {
		@apply flex flex-none flex-col overflow-hidden;
	}
}
