.shell {
	@apply h-screen w-screen bg-cover bg-center;
}

.taskbar {
	@apply absolute bottom-0 left-0 z-30 flex h-12 w-full items-center border-slate-400 bg-slate-200;

	& .start {
		@apply py-3 px-4 transition-all hover:bg-blue-500 hover:text-white;
	}

	& .tasklist {
		@apply flex flex-1 gap-2 overflow-auto;

		& button {
			@apply h-12 border-slate-300 bg-slate-50 px-6 text-sm transition-colors;

			&.active {
				@apply font-bold;
			}

			&.minimized {
				@apply border-slate-400 bg-slate-300 font-normal;
			}
		}
	}

	& .time {
		@apply px-6;
	}
}
