.startMenu {
	@apply absolute bottom-12 left-0 z-20 flex animate-windowOpen border-t border-r border-slate-400 bg-slate-200 shadow-md;

	& .left {
		@apply flex flex-col justify-end bg-slate-300;

		& button {
			@apply p-4 transition-all hover:bg-slate-50;

			& > svg {
				@apply h-6 w-6;
			}
		}
	}

	& .apps {
		@apply flex max-h-[50vh] flex-col overflow-auto;

		& button {
			@apply px-6 py-4 font-bold transition-all;
			@apply hover:bg-slate-50;
		}
	}
}
