.window {
	@apply flex flex-col;

	& .band {
		@apply flex w-full justify-center border-b border-black/20 bg-slate-200 p-6;

		& h1 {
			@apply bg-gradient-to-r from-red-900 to-red-700 bg-clip-text text-3xl font-bold text-transparent;
		}
	}

	& .body {
		@apply p-6;
	}
}
