.home {
	@apply flex h-full flex-col items-center gap-6 px-6 py-12;

	& > h1 {
		@apply text-center text-3xl font-bold;
	}

	& > .pages {
		@apply grid grid-cols-3 gap-4 p-4;

		& button {
			@apply flex flex-col items-center gap-2 border border-transparent px-6 py-4 transition-all hover:border-slate-400 hover:bg-slate-100;

			& svg {
				@apply h-8 w-8;
			}
		}
	}
}
